In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..' + os.sep + '..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from experiment_parameters.TrainerFactory import dataset_model_dictionary

2025-10-13 22:15:42.486097: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-10-13 22:15:42.740928: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-10-13 22:15:43.340224: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [27]:
import pandas as pd

adult_dataset = pd.read_csv("../../data/datasets/Adult/train.csv")

In [28]:
adult_dataset["workclass"] = [string[1:] for string in adult_dataset["workclass"]]
adult_dataset["education"] = [string[1:] for string in adult_dataset["education"]]
adult_dataset["marital-status"] = [string[1:] for string in adult_dataset["marital-status"]]
adult_dataset["occupation"] = [string[1:] for string in adult_dataset["occupation"]]
adult_dataset["relationship"] = [string[1:] for string in adult_dataset["relationship"]]
adult_dataset["race"] = [string[1:] for string in adult_dataset["race"]]
adult_dataset["sex"] = [string[1:] for string in adult_dataset["sex"]]
adult_dataset["native-country"] = [string[1:] for string in adult_dataset["native-country"]]
adult_dataset["label"] = [string[1:] for string in adult_dataset["label"]]

In [29]:
adult_dataset.loc[adult_dataset["age"] < 18, "age"] = 18

In [30]:
adult_dataset = adult_dataset.replace("?", pd.NA)

In [31]:
from sklearn.impute import SimpleImputer

adult_dataset = pd.DataFrame(SimpleImputer(missing_values=pd.NA, strategy='most_frequent').fit_transform(adult_dataset), index=adult_dataset.index, columns=adult_dataset.columns)

In [32]:
display(adult_dataset)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [33]:
adult_dataset.to_csv("Adult_ready_for_preprocessing.csv")

In [3]:
dataset_factory = dataset_model_dictionary["adult"]()
X_train, y_train = dataset_factory.get_dataset().get_training_data()
X_test, y_test = dataset_factory.get_dataset().get_test_data()

In [5]:
display(X_train)

,age,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,fnlwgt,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.301370,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.044302,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.048238,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.138113,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.151068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.221488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.166404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.315068,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.096500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,0.561644,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.094827,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,0.068493,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.128499,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,0.479452,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.187203,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0